{% extends "mainApp/base.html" %} {% load static %} {% block content %}


<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Acerca del proyecto MiLAB</h2>
        </div>

        <div class="row content">
            <div>
                <p>
                    Construcción de plataforma MiLAB como servicio en la nube para apoyar el trabajo de los grupos de investigación asociados a redClara.
                </p>
                <p>
                    Componentes de la plataforma MiLAB:
                </p>
            </div>
            <div>
                <p>
                    <ul>
                        <li><i class="ri-check-double-line"></i> Datos de investigación</li>
                        <li><i class="ri-check-double-line"></i> Códigos computacionales</li>
                        <li><i class="ri-check-double-line"></i> Entornos de investigación</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}