<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Proyecto Milab de RedCLARA</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'mainApp/img/favicon.png' %}" rel="icon">
    <link href="{% static 'mainApp/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">


    <!-- Vendor CSS Files -->
    <link href="{% static 'mainApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'mainApp/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'mainApp/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'mainApp/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'mainApp/vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'mainApp/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'mainApp/vendor/aos/aos.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'mainApp/css/style2.css' %}" rel="stylesheet">
    <link href="{% static 'mainApp/css/style.css' %}" rel="stylesheet">

    <!-- =======================================================
  * Template Name: Arsha - v2.2.1
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->


</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class=" container d-flex align-items-center ">
            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="{% url 'Inicio' %}" class="logo mr-auto"><img src="{% static 'mainApp/img/logo.png' %} " alt=" "
                    class="img-fluid "></a>

            <nav class="nav-menu d-none d-lg-block ">
                <ul>
                    <li class="active"><a href="{% url 'Inicio' %}">Inicio</a></li>
                    <li><a href="#about">Acerca de</a></li>
                    <li><a href="#services">Servicios</a></li>
                    <li><a href="#team">Noticias</a></li>
                    <li><a href="#faq">Recursos</a></li>
                    <li><a href="#contact">Contacto</a></li>
                </ul>
            </nav>
            <!-- .nav-menu -->
        </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                    data-aos="fade-up" data-aos-delay="200">
                    <h1>Proyecto MiLAB</h1>
                    <h2>Hacia una infraestructura de datos científicos</h2>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="{% static 'mainApp/img/hero-img.png' %}" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>

    </section>
    <!-- End Hero -->


    <main id="main ">


        <!-- ======= Cliens Section ======= -->
        <section id="cliens" class="cliens section-bg">
            <div class="container">
                <div class="row justify-content-center" data-aos="zoom-in">

                    <div class="align-items-center">
                        Alojado por: <img src="{% static 'mainApp/img/clients/logo_cedia.png' %}" class=" img-fluid"
                            alt="">
                    </div>
                </div>
        </section>
        <!-- End Cliens Section -->



        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Acerca del proyecto MiLAB</h2>
                </div>

                <div class="row content">
                    <div>
                        <p>
                            Construcción de plataforma MiLAB como servicio en la nube para apoyar el trabajo de los
                            grupos de investigación asociados a redClara.
                        </p>
                        <p>
                            Componentes de la plataforma MiLAB:
                        </p>
                    </div>
                    <div>
                        <p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Datos de investigación</li>
                            <li><i class="ri-check-double-line"></i> Códigos computacionales</li>
                            <li><i class="ri-check-double-line"></i> Entornos de investigación</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- ======= End About Us Section ======= -->


        <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg" data-aos="zoom-in" data-aos-delay="100">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Servicios</h2>
                    <p>Los siguientes son los servicios incluidos en el proyecto</p>
                </div>
                <div class=" row " style="margin: auto;">

                    {% for servicio in servicios %}

                    <div class="card mb-3" style="width: 450px; min-height: 200px; margin: auto;">
                        <div class="row no-gutters">
                            <div class="" style="width: 110px; min-height: 100px;">
                                <img    src="{{servicio.imagen.url}}" 
                                        class="card-img" alt="{{servicio.titulo}}" 
                                        style="display: block; max-height: 200px; max-width: 100px; margin-top: 10px; margin-left: auto; margin-right: auto;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body" sytle="text-align:left">
                                    <h5 class="card-title">{{servicio.titulo}}</h5>
                                    <p class="card-text" style="scroll-behavior: auto;">{{servicio.descripcion}} 
                                    </p>
                                    <a href="{{servicio.descripcion}}" class="btn btn-primary" target="_blank">Abrir</a>

                                </div>
                            </div>
                        </div>
                    </div>
    



                    {% endfor %}
                </div>


            </div>
        </section>
        <!-- End Services Section -->


        <!-- ======= Team Section ======= -->
        <section id="team" class="team section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Noticias</h2>
                    <p>Acerca de las noticas.</p>
                </div>

                <div class="row">
                    {% for noticia in noticias %}
                    <div class="col-lg-6" style="margin-top: 20px;">
                        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                            <div class="pic"><img src="{{noticia.imagen.url}}" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>{{noticia.titulo}}</h4>
                                <span>{{noticia.autor}}</span>
                                <p>{{noticia.contenido | safe}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </section>
        <!-- End Team Section -->


        <!-- ======= faq Section ======= -->
        <section id="faq" class="faq section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Recursos</h2>
                    <p>Aquí están disponibles el conjunto de recuros que el proyecto MiLAB dispone para la comunidad
                        académica e investigativa ..</p>
                </div>

                <div class="faq-list">
                    <ul>
                        {% for recurso in recursos %}
                        <li data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse"
                                href="#faq-list-{{recurso.id}}">{{recurso.titulo}}<i
                                    class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-{{recurso.id}}" class="collapse" data-parent=".faq-list">
                                <p>
                                    {{recurso.descripcion |safe}}
                                </p>
                                <div>
                                    <a href="{{recurso.archivo.url}}" alt="{{recurso.titulo}}">Descargar</a>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>

                </div>

            </div>
        </section>
        <!-- End skills Section -->


        <!-- ======= Contact Section ======= -->
        {% load crispy_forms_tags %}

        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">


                {%  if contacto.errors %}
                <div class="alert alert-danger" role="alert">
                    Error en el registro del formulario
                </div>
                {% endif %}

                <div class="section-title">
                    <h2>Contacto</h2>
                    <p>Para cualquier inquietud, por favor ponga en contato con nostros a través del siguiente
                        formulario.</p>
                </div>



                <form action="{% url 'Registro' %}#contact" method="POST">
                    {% csrf_token %}
                    {% if mensaje %}
                    <div class="alert alert-alert-success" role="alert">
                        Información registrada correctamente
                    </div>
                    {% endif %}

                    {{ contacto|crispy }}

                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </section>
        <!-- End Contact Section -->

    </main>
    <!-- End #main -->


    <!-- ======= Footer ======= -->
    <footer id="footer ">
        <div class="footer-top ">
            <div class="container ">
                <div class="row ">

                    <div class="col-lg-3 col-md-6 footer-contact ">
                        <h3>RedCLARA</h3>
                        <p>
                            A108 Adam Street <br> New York, NY 535022<br> United States <br><br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>
                    </div>



                    <div class="col-lg-3 col-md-6 footer-links ">
                        <h4>Nuestras redes sociales</h4>
                        <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
                        <div class="social-links mt-3 ">
                            <a href="# " class="twitter "><i class="bx bxl-twitter "></i></a>
                            <a href="# " class="facebook "><i class="bx bxl-facebook "></i></a>
                            <a href="# " class="instagram "><i class="bx bxl-instagram "></i></a>
                            <a href="# " class="google-plus "><i class="bx bxl-skype "></i></a>
                            <a href="# " class="linkedin "><i class="bx bxl-linkedin "></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container footer-bottom clearfix ">
            <div class="copyright ">
                &copy; Copyright <strong><span>Arsha</span></strong>. All Rights Reserved
            </div>
            <div class="credits ">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
                Designed by <a href="https://bootstrapmade.com/ ">BootstrapMade</a>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top "><i class="ri-arrow-up-line"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{% static 'mainApp/vendor/jquery/jquery.min.js' %} "></script>
    <script src="{% static 'mainApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
    <script src="{% static 'mainApp/vendor/jquery.easing/jquery.easing.min.js' %} "></script>
    <script src="{% static 'mainApp/vendor/php-email-form/validate.js' %} "></script>
    <script src="{% static 'mainApp/vendor/waypoints/jquery.waypoints.min.js' %} "></script>
    <script src="{% static 'mainApp/vendor/isotope-layout/isotope.pkgd.min.js' %} "></script>
    <script src="{% static 'mainApp/vendor/venobox/venobox.min.js' %} "></script>
    <script src="{% static 'mainApp/vendor/owl.carousel/owl.carousel.min.js' %} "></script>
    <script src="{% static 'mainApp/vendor/aos/aos.js' %} "></script>

    <!-- Template Main JS File -->
    <script src="{% static 'mainApp/js/main.js' %} "></script>

</body>

</html>

</html>