{% extends "mainApp/base.html" %} {% load static %} {% block content %}

<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Servicios</h2>
            <p>Los servicios incluidos en el proyecton son ... </p>
        </div>

        <div class="row">

            {% for servicio in servicios %}



            <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div><img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{servicio.imagen.url}}" alt="" style="width: 30%;"></div>
                    <h4><a href="">{{servicio.titulo}}</a></h4>
                    <p>{{servicio.descripcion}}</p>
                </div>
            </div>

            {% endfor %}
        </div>

    </div>
</section>
<!-- End Services Section -->

{% endblock %}